<h1 class={"py-5 pr-10 2xl:pr-64 text-#{@conn.assigns.palette}-primary font-bold text-4xl sm:text-6xl md:text-7xl xl:text-8xl leading-[150%] sm:leading-[150%] md:leading-[150%] xl:leading-[150%]"}>CONTACT US HOWEVER YOU LIKE</h1>

<a class="font-bold text-xl" href="mailto:globalsapients@proton.me">globalsapients@proton.me</a>

<p class="mt-5 font-bold text-sm max-w-md">Hi there! We want to hear from you! This entire website is put up as a channel for communication between you and us. We are open to different ways of cooperating, so feel free to get in touch with us however you feel most comfortable. You can find us on all of our social media platforms, and we'll be happy to answer any questions you may have.</p>

<div class="mt-10">
  <%= render SapientsWeb.PageView, "social_links.html", conn: @conn %>
</div>
