<h1 class={"py-5 pr-10 2xl:pr-64 text-#{@conn.assigns.palette}-primary font-bold text-4xl sm:text-6xl md:text-7xl xl:text-8xl leading-[150%] sm:leading-[150%] md:leading-[150%] xl:leading-[150%]"}>CONTACT US HOWEVER YOU LIKE</h1>

<a class="font-bold text-xl" href="mailto:globalsapient@gmail.com">globalsapients@gmail.com</a>

<p class="mt-5 font-bold text-sm">Also we always respond in all our social media,<br> so feel free to message us.</p>

<div class="mt-10">
  <%= render SapientsWeb.PageView, "social_links.html" %>
</div>
