<h1 class={"py-5 pr-10 2xl:pr-64 text-#{@conn.assigns.palette}-primary font-bold text-4xl sm:text-6xl md:text-7xl xl:text-8xl leading-[150%] sm:leading-[150%] md:leading-[150%] xl:leading-[150%]"}>CONTACT US HOWEVER YOU LIKE</h1>

<a class="font-bold text-xl" href="mailto:globalsapients@proton.me">globalsapients@proton.me</a>

<p class="mt-5 font-bold text-sm max-w-md">Hi&nbsp;there! We&nbsp;want to&nbsp;hear from you! This entire website is&nbsp;put up&nbsp;as&nbsp;a&nbsp;channel for communication between you and&nbsp;us. We&nbsp;are open to&nbsp;different ways of&nbsp;cooperating, so&nbsp;feel free to&nbsp;get in&nbsp;touch with&nbsp;us however you feel most comfortable. You can find&nbsp;us on&nbsp;all of&nbsp;our social media platforms, and we&rsquo;ll be&nbsp;happy to&nbsp;answer any questions you may have.</p>

<div class="mt-10">
  <%= render SapientsWeb.PageView, "social_links.html", conn: @conn %>
</div>
