<nav class="flex justify-between items-center">
    <a href="/">
        <img class="w-28" src={@logo} alt="">
    </a>
    <div class="flex text-sm font-bold gap-x-6">
        <a class={active_class(@conn, "/about")} href="/about">About</a>
        <a class={active_class(@conn, "/contact")} href="/contact">Contact</a>
    </div>
</nav>
