<nav class="flex justify-between items-center">
    <a href="/">
        <img class="w-28" src={@logo} alt="">
    </a>
    <div class="flex text-sm font-bold gap-x-6">
        <a class="hover:text-blue-clue transition" href="/about">About</a>
        <a class="hover:text-blue-clue transition" href="/contact">Contact</a>
    </div>
</nav>
