<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Sapients" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <main class="flex flex-col justify-between min-h-screen p-7 bg-yellow-fellow text-gray-900">
      <div>
        <%= render "nav.html", logo: Routes.static_path(@conn, "/images/sapients.png"), conn: @conn %>
        <%= @inner_content %>
      </div>
      <%= if @conn.assigns.current_user do %>
        <%= render SapientsWeb.LayoutView, "_user_menu.html", conn: @conn, current_user: @conn.assigns.current_user %>
      <% end %>
      <div>
        <%= render "footer.html", logo: Routes.static_path(@conn, "/images/sapients.png"), conn: @conn %>
      </div>
    </main>
  </body>
</html>
