<h1>Show Token</h1>

<ul>

  <li>
    <strong>Token:</strong>
    <%= @token.token %>
  </li>

  <li>
    <strong>Used:</strong>
    <%= @token.used %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.token_path(@conn, :edit, @token) %></span> |
<span><%= link "Back", to: Routes.token_path(@conn, :index) %></span>
