<div>user posts</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
  <%= for post <- @posts do %>
    <a href={post.url} target="_blank" class={"lg:col-span-#{post.size}"}>
      <img src={post.image} class="object-cover w-full">
      <p class={"subheading mt-1"}><%= post.title %></p>
      <p class="para mt-3"><%= post.description %></p>
    </a>
  <% end %>
</div>
