<h1 class={"mt-5 py-5 pr-10 2xl:pr-64 text-#{@conn.assigns.palette}-primary font-bold text-4xl sm:text-6xl md:text-7xl xl:text-8xl leading-[150%] sm:leading-[150%] md:leading-[150%] xl:leading-[150%]"}>BRIEFLY SPEAKIN</h1>

<div class="mt-5 font-bold text-sm flex flex-col gap-5 md:flex-row md:flex-wrap lg:w-10/12 xl:w-8/12 2xl:w-1/2">
  <p class="max-w-xs lg:max-w-sm">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in</p>
  <p class="max-w-xs lg:max-w-sm">Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “</p>
  <p class="max-w-xs lg:max-w-sm">Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “</p>
  <p class="max-w-xs lg:max-w-sm">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in</p>
</div>
